main{
    background-image: url(background.png);
    height: 100vh;
     /* margin-top: 200px; */
     border-bottom: 2px solid rgb(97, 85, 85);
     

    }
body{
    /* background: rgb(21,24,30); */
   background-color: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
}
.boxo{
    height: 100vh;
    position: absolute;
    background: black;
    width: 100%;
    opacity: 0.6;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 400px;
    color:gray;
    position: relative;
    align-items: center;
    
}


.navigation{
    justify-content: center;
    padding:10px;

   
}
.cedarville-cursive-regular {
   /* font-family: 'Dancing Script', cursive;
  font-size: 50px; */
  color: rgb(247, 247, 247);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

}




.view{
    display: flex;
    justify-content: center;
   margin-top: 150px;
    margin-bottom: 100px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.rose img{
    height: 250px;
    width: 400px;
}
@keyframes scroll {
    from{
        opacity: 0;
        scale:0;
    }
    to{
        opacity: 1;
        scale:1;
    }
}
.text{
    color: aliceblue;
}

.container,.container2{
    font-family: 'Dancing Script', cursive;
  
  color: #ffffff;   
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  gap:20px;
  margin: 100px;
  z-index: 1;
}
 .box1{
  font-family: 'Dancing Script', cursive;
    border: 2px solid rgb(68, 58, 58);
    background: rgb(28,32,40);
    height: 80px;
    width: 350px;
    max-width: 500px;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: 100; 
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;
    transition: transform 0.5s ease ;
     animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
     color: #ffffff;   
     text-decoration: none;
    
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover{
    transform: translateY(-1vh) scale(1.1);
    
}
@media (max-width: 779px) {

  .cedarville-cursive-regular {
    font-size: 2rem;
    margin-top: 50px;
    text-align: center;
  }
  p {
    font-size: 25px;
    margin-top: 470px;
    line-height: 1.4;

  }
  .main_head {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .main_head1 {
    font-size: 1rem;
    margin: 20px;
    padding: 0 1rem;
  }


  .rose img {
    width: 100%;
    max-width: 280px;
    height: 100%;
    margin: 0;
  }

  .container,
  .container2 {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    align-items: center;
    
  }

  .box1 {
    width: 50%;
    max-width: 90%;
    margin: 10px;
    height: auto;
    min-height: 70px;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    word-wrap: break-word;
    text-decoration: none;
  }


  .burnout_main {
    margin: 20px;
  }
}







.heightd{
    height: 1000px;
}
.main_head{
 font-family: 'Dancing Script', cursive;
  font-weight: 200;
  font-size: 3rem; 
  color: #ffffff;   
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-top: 10px;
}
.main_head1{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 50px;
     animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  font-size: 20px;
  text-align: center;
}
.burnout_main{
      font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 2rem; 
  color: #ffffff;   
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  gap:20px;
}
.burnout{
        border: 2px solid rgb(68, 58, 58);
    background: rgb(28,32,40);
    height: 100px;
    width: 700px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;
    transition: transform 0.5s ease ;
      animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.burnout:hover{
    transform: translateY(-1vh) scale(1.1);
}

